<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.connection_string">Data Source=./test_db.db3;Foreign Keys=True;</property>
    <property name="connection.driver_class">NHibernate.Extensions.Sqlite.SqliteDriver,NHibernate.Extensions.Sqlite</property>
    <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="adonet.batch_size">10</property>
  </session-factory>
</hibernate-configuration>
