<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.connection_string">datasource=127.0.0.1;port=3306;database=net_core_app;user id=root;password=1a2b3c4D;</property>
    <property name="dialect">NHibernate.Dialect.MySQL57Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="adonet.batch_size">10</property>
  </session-factory>
</hibernate-configuration>
